.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 16px;
  background-color: #f31f1f;
  /* background-color: #f9f9f9; */
  /* width: 100%; */
}

.auth-paper {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  overflow: hidden;
}

.auth-header {
  background-color: #f2e1c1;
  padding: 16px;
  text-align: center;
  color: #4f4f4f;
}

.auth-form {
  padding: 24px;
}

.auth-submit {
  margin-top: 16px;
  background-color: #4a752c;
  color: white;
  font-weight: bold;
}

.auth-submit:hover {
  background-color: #3e6524;
}
